@model IEnumerable<NETJACKET.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fechacompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preciocompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mpcompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limitacionescompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudadcompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spcompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacaC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fechacompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preciocompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mpcompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limitacionescompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudadcompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spcompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacaC.Placa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idcompra">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idcompra">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idcompra">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
